<div class="grid">
  <div class="col-1-1">
    <h1>Atividades</h1>
  </div>
</div>

<br />

<table>
  <thead>
    <tr>
      <th>
      </th>
      <th>
      </th>
      <th>Data</th>
    </tr>
  </thead>

  <tbody>
  <% @activities.each do |activity| %>
    <tr>
      <td>
        <%= activity.site.name %>
      </td>
      <td>
        <% if activity.user.present? %>
          <strong><%= activity.user.name %></strong>
        <% else %>
          <strong><%= activity.user_description %></strong>
        <% end %>
        <% if activity.event_name == 'create' %>
          criou
        <% elsif activity.event_name == 'update'%>
          editou
        <% end %>
        <% if activity.subject.present? %>
          <strong>
            <%= link_to activity.subject.title,
              edit_site_section_content_path(@site, activity.subject.section, activity.subject)
            %>
          </strong>
        <% else %>
          <%= activity.subject_description %>
        <% end %>
      </td>
      <td>
        <%= l(activity.created_at, format: :short) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>

<%= paginate @activities %>
