<!DOCTYPE html>
<html>
<head>
  <title>Cas</title>
  <%= stylesheet_link_tag    "cas/application", media: "all" %>
  <%= javascript_include_tag "cas/application" %>

  <% if content_for?(:upload) %>
    <%= javascript_include_tag "cas/fileupload_manifest" %>
  <% end %>

  <meta name="viewport" content="width=device-width, user-scalable=no">

  <script type="text/javascript">
    var paths = {
      deleteFile: {
        path: "<%= cas.api_files_path %>",
        method: "delete"
      },
      fileUpload: {
        path: "<%= cas.file_uploads_path %>",
        method: 'post'
      }
    };
  </script>

  <%= csrf_meta_tags %>
</head>
<body class="<%= "site-#{@site.id}" if @current_user.present? %>">

  <header>
    <div class="grid top">
      <div class="mobile-col-1-1 col-1-3">
        <h1>
          Admin
        </h1>
      </div>

      <% if user_signed_in? %>
        <div class="mobile-col-1-1 col-1-3 site-selector">
          <% if @user_sites.count <= 1 %>
            <%= @user_sites[0].name %> (<%= @user_sites[0].domains.join(", ") %>)
          <% else %>
            <select id="select-site">
              <% @user_sites.each do |site| %>
                <% selected = site.id == @site.id %>
                <option
                  value="<%= site_sections_path(site) %>"
                  <%= 'selected="selected"' if selected %>
                >
                  <%= site.name %>
                  (<%= site.domains.join(", ") %>)
                </option>
              <% end %>
            </select>
          <% end %>
        </div>
        <div class="mobile-col-1-1 col-1-3 secondary">
          <span class="profile">
            <%= link_to "Minha conta", cas.edit_site_user_path(@site, current_user), id: "edit-profile"%>
          </span>
          <span class="sign-out"%>
            <%= link_to "Sair", cas.destroy_user_session_path, method: :delete %>
          </span>
        </div>
      <% end %>
    </div>

    <nav class="grid">
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to "Conteúdo", cas.site_sections_path(@site) %></li>
        <% end %>
        <% if user_signed_in? && current_user.admin? %>
          <li><%= link_to "Pessoas", cas.site_users_path(@site), id: "list-people" %></li>
        <% end %>
      </ul>
    </nav>
  </header>

  <section class="grid">
    <div class="col-1-1">
      <div class="content">
        <%= yield %>
      </div>
    </div>
  </section>

</body>
</html>
