<!DOCTYPE html>
<html>
<head>
  <title>Cas</title>
  <%= stylesheet_link_tag    "cas/application", media: "all" %>
  <%= javascript_include_tag "cas/application" %>

  <% if content_for?(:upload) %>
    <%= javascript_include_tag "cas/fileupload_manifest" %>
  <% end %>

  <meta name="viewport" content="width=device-width, user-scalable=no">

  <script type="text/javascript">
    var paths = {
      deleteFile: {
        path: "<%= cas.api_files_path %>",
        method: "delete"
      },
      fileUpload: {
        path: "<%= cas.file_uploads_path %>",
        method: 'post'
      }
    };
  </script>

  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <div class="grid top">
      <div class="col-1-2">
        <h1>
          Admin
        </h1>
      </div>
      <div class="col-1-2 secondary">
        <% if user_signed_in? %>
          <span class="profile">
            <%= link_to current_user.name, cas.edit_user_path(current_user), id: "edit-profile"%>
          </span>
          <span class="sign-out"%>
            <%= link_to "Sair", cas.destroy_user_session_path, method: :delete %>
          </span>
        <% end %>
      </div>
    </div>

    <nav class="grid">
      <ul>
          <% if user_signed_in? %>
            <li><%= link_to "Conteúdo", cas.root_path %></li>
          <% else %>
          <% end %>
          <% if user_signed_in? && current_user.admin? %>
            <li><%= link_to "Pessoas", cas.users_path, id: "list-people" %></li>
          <% end %>
        </ul>
      </ul>
    </nav>
  </header>

  <section class="grid">
    <div class="col-1-1">
      <div class="content">
        <%= yield %>
      </div>
    </div>
  </section>

</body>
</html>
