<%= simple_form_for [@site, @person] do |f| %>
  <%= f.input :name %><br />
  <%= f.input :email %><br />

  <% if @current_person.admin? %>
    <%= f.collection_check_boxes(
      :site_ids,
      @current_person.sites,
      :id,
      :name,
      checked: @selected_sites
    ) do |s| %>
      <%= s.check_box(disabled: (s.value == @site.id), id: "site-id-#{s.value}") %>
    <%= s.text %>
    <% end %>
  <% end %>

  <% if current_person.admin? %>
    <%= f.collection_select :roles, Cas::Person::ROLES, :to_s, :humanize %></p>
  <% end %>
  <%= f.input :password, required: false %><br />
  <%= f.input :password_confirmation %><br />

  <%= f.button :submit, id: "save-form" %><br />
<% end %>
