<% content_for(:upload, true) %>

<%= f.input :file,
  as: :file,
  type: :string,
  label: "Imagens",
  input_html: {
    accept: "image/png, image/jpg",
    multiple: "multiple",
    images: "#js-item-images"
  } %>

<div class="images" id="js-item-images">
  <% if @content.images.present? %>
    <% @content.images.each do |file| %>
      <div class="image js-image" data-id="<%= file.id %>" style="background-image: url('<%= file.url(use_cdn: false) %>')">
<div class="options"><a href="javascript: void(0)" class="js-delete-image">Excluir</a></div>
      </div>
    <% end %>
  <% end %>
</div>

<% if Rails.env.test? %>
  <%= hidden_field_tag "files[][id]", "", class: "js-media-file", id: "test_file_1" %>
  <%= hidden_field_tag "files[][id]", "", class: "js-media-file", id: "test_file_2" %>
<% end %>
