<%= simple_form_for ([@section, @content]) do |f| %>
  <% if Cas::SectionForm.new(@section.site.name, @section.name, 'cas.yml').has_field?(:title) %>
    <%= f.input :title %>
  <% end %>

  <%= f.input :summary %>
 
  <%= f.text :text %>
  
  <div class="actions">
    <%= f.submit "Salvar", id: 'submit' %>
  </div>
    
<% end %>