<div class="grid">
  <div class="col-1-2">
    <h1><%= @section.name %></h1>
  </div>
  <div class="col-1-2 section-options">
    <% if Cas::SectionForm.new(@section.site.name, @section.name).has_field?(:category) %>
      <%= link_to "Categorias", section_categories_path(@section), id: 'manage-categories' %>
    <% end %>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>Título</th>
    </tr>
  </thead>

  <tbody>
  <% @contents.each do |content| %>
    <tr id="content-<%= content.id %>">
      <td><%= link_to content.title,
      edit_section_content_path(@section.id, content), id: "edit-content-#{content.id}" %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>

<%= paginate @contents %>
<%= link_to 'Novo conteúdo', new_section_content_path(@section.id), id: 'new-content' %>