<div class="grid">
  <div class="col-1-2">
    <h1><%= @section.name %></h1>
  </div>
  <div class="col-1-2 section-options">
    <% if Cas::SectionConfig.new(@section).form_has_field?(:category) %>
      <%= link_to "Categorias", section_categories_path(@section), id: 'manage-categories' %>
    <% end %>
  </div>
</div>

<%= link_to 'Novo conteúdo', new_section_content_path(@section.id), id: 'new-content' %>
<br />
<br />

<table>
  <thead>
    <tr>
      <th colspan="<%= Cas::SectionConfig.new(@section).list_fields.count %>">Título</th>
    </tr>
  </thead>

  <tbody>
  <% @contents.each do |content| %>
    <tr id="content-<%= content.id %>">
      <% column_no = 1 %>

      <% Cas::SectionConfig.new(@section).list_fields.each do |field| %>
        <td>
          <% if field == 'created_at' %>
            <% value = content.created_at.strftime("%d%b %H:%M") %>
          <% else %>
            <% value = content.public_send(field) %>
          <% end %>

          <% if column_no == 1 %>
            <%= link_to value,
              edit_section_content_path(@section.id, content),
              id: "edit-content-#{content.id}" %>
          <% else %>
            <%= value %>
          <% end %>

          <% column_no += 1 %>
        </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
<br>

<%= paginate @contents %>
